<!DOCTYPE html>
<html>
<head>
  <title>AromaPedia</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
 <body>
    
  <div class="container">
    <div class="three columns sidebar">
      <nav><br><br><br><br>
        <h3 id="logo">Overview</h3>
          <ul>
            <li><a href="articles">Essential Oils</a></li>
            <li><a href="#grid"></a></li>
            <li><a href="#typography">Application Techiques</a></li>
            <li><a href="#buttons">Acessories &amp;Equipment</a></li>
            <li><a href="#forms">Testimonials</a></li>
            <li><a href="#support">Support</a></li>
            <li><a href="#examples">Resources</a></li>
            <li><a href="about">About</a></li>

          </ul>
      </nav>
<%= yield :sidebar%>
    </div>

    <div class="twelve columns offset-by-one content">
      <h1 class="remove-bottom" style="margin-top: 40px"><p>
       </p>AromaPedia</h1>
        <h5>A Guide for Using Essential Oils</h5>
                        <hr/>
          
     
	  <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

<%= yield %>

</body>
</html>
